a {
  color: #000;
  text-decoration: none;
}

span {
  cursor: pointer;
}
span:hover {
  opacity: 0.5;
}

.block__cat {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: red;
  box-shadow: 10px 10px 15px -10px;
}
