a {
  color: #000;
  text-decoration: none;
}

span {
  cursor: pointer;
}
span:hover {
  opacity: 0.5;
}

.block__cat {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: red;
  box-shadow: 10px 10px 15px -10px;
}

.big4 {
  display: inline;
  padding-bottom: 8px;
  border-bottom: 2px dotted #0e6edf;
}

textarea::placeholder,
input::placeholder {
  color: red;
}

div {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #0e6edf;
}
p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cat-red {
  color: red;
}
#catBlue {
  color: blue;
}
input[name="green"]::placeholder {
  color: green;
}
[data-text="target"] {
  color: pink;
}
ul {
  list-style: none;
}
ul li:first-child {
  color: red;
}
ul li:last-child {
  color: blue;
}
ul li:nth-child(5) {
  color: green;
}

.before-cat::before {
  content: "▼";
  padding-right: 4px;
}
h3::before,
h3::after {
  display: inline-block;
  content: "";
  vertical-align: 5px;
  width: 40px;
  height: 2px;
  background-color: #000;
}
h3::before {
  margin-right: 8px;
}
h3::after {
  margin-left: 8px;
}

dt {
  float: left;
}
dd {
  width: 400px;
  margin: 0 0 16px 100px;
  border-bottom: 1px dotted;
}
ul,
li {
  list-style: none;
  padding: 0;
}
li::before {
  content: "■";
}

.text-wrap {
  width: 300px;
  border: 1px solid;
  padding: 12px;
}
.text-wrap p {
  text-indent: -1em;
  padding-left: 1em;
  word-break: break-all;
}
.text-wrap > p:first-child {
  margin-bottom: 24px;
}

input[name="sample"] {
  font-weight: bold;
}
input[name="sample"]::placeholder {
  font-weight: normal;
}

.text-wrap {
  position: relative;
  width: 400px;
  height: 60px;
  border: 1px solid;
  padding: 12px;
}
span {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 1px;
  display: inline-block;
  background: #0e6edf;
}

.key-visual {
  width: 100%;
  height: 100vh;
  position: relative;
}
.key-visual > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dt {
  float: left;
}
dd {
  width: 400px;
  margin: 0 0 16px 100px;
  border-bottom: 1px dotted;
}
ul,
li {
  list-style: none;
  padding: 0;
}
li::before {
  content: "■";
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
ul > li:nth-child(odd) {
  color: red;
}
ul > li:nth-child(even) {
  color: green;
}
div > span + span {
  font-weight: bold;
}
i,
p {
  color: blue;
}

.block {
  overflow: hidden;
}

p {
  color: blue !important;
}

ul {
  list-style: none;
  border-top: 1px solid;
  display: inline-block;
  padding: 0;
}
li {
  border-bottom: 1px dotted;
  padding: 8px 0;
}
li:last-child {
  border-bottom: 1px solid;
}

.logo {
  width: 300px;
}
img {
  width: 100%;
  filter: blur(6px);
}

.wrap {
  background-color: rgba(000, 000, 000, 0.5);
}

p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.text {
  margin-bottom: 16px;
}
.text > span {
  background-color: yellow;
  display: inline-block;
  min-width: 300px;
}

.img-area {
  background-color: #000;
  display: inline-block;
}
.img-area img {
  width: 80%;
  display: block;
  margin: auto;
}

section {
  width: 1000px;
  margin-bottom: 30px;
  overflow: hidden;
}
section + section > .box.box--green {
  float: right;
}
.box {
  width: 200px;
  float: left;
}
.box--red {
  height: 100px;
  background-color: red;
}
.box--blue {
  height: 200px;
  background-color: blue;
}
.box--green {
  height: 300px;
  background-color: green;
}

body {
  padding: 24px;
}
ul {
  width: 300px;
}
li {
  border: 1px solid #e7e7e7;
  margin-bottom: 8px;
  padding: 4px;
  font-size: 12px;
  list-style: none;
}
li:last-child {
  margin-bottom: 0;
}

span::before {
  content: "";
  display: block;
  background-image: url(https://ninjacode.work/assets/img/kv.png);
  width: 250px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
}

span::after {
  content: "";
  display: inline-block;
  background-image: url(https://ninjacode.work//assets/img/shuriken.png);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 4px;
  vertical-align: -1px;
}

body {
  padding: 64px;
}
span::before,
span::after {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background: #000;
}
span::before {
  transform: rotate(-45deg);
}
span::after {
  transform: rotate(45deg);
}

img {
  width: 100px;
  height: 65px;
  object-fit: cover;
}

p {
  font-size: 0.8rem;
}

h1 {
  letter-spacing: 16px;
}

p {
  line-height: 40px;
}

section > p:first-of-type {
  color: red;
}

p {
  text-shadow: 5px 5px 5px #000;
}

.box {
  height: 200px;
  width: 200px;
  background: black;
  color: white;
  font-size: 20px;
}

ul li {
  list-style: none;
}
ul li:nth-child(n + 4) {
  color: red;
}

section {
  display: flex;
  flex-direction: column;
}
.num01 {
  order: 4;
}
.num02 {
  order: 1;
}
.num03 {
  order: 3;
}
.num04 {
  order: 5;
}
.num05 {
  order: 2;
}

div {
  width: 200px;
  margin: auto;
  height: 200px;
  overflow-y: auto;
}

input {
  height: 40px;
  padding: 0px 40px;
  background: #edf0f2;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2) inset;
  font-size: 14px;
}

.block p {
  width: 200px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .block p {
    color: red;
  }
}

/* ipadの挙動 */
@media screen and (max-width: 1024px) {
  .block p {
    color: green;
  }
}
/* スマホ時の挙動 */
@media screen and (max-width: 768px) {
  .block p {
    color: red;
  }
}

div {
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  background-color: red;
  transform: rotate(45deg);
  margin-top: 100px;
}

p {
  margin-bottom: 16px;
}
p:nth-child(2) {
  visibility: hidden;
}

section {
  width: 400px;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 200px 1fr;
}
div {
  background-color: red;
}
div:nth-child(2) {
  background-color: green;
}
div:nth-child(3) {
  background-color: yellow;
}
div:nth-child(4) {
  background-color: blue;
}

section {
  width: 300px;
  height: 300px;
  overflow-y: auto;
}
section::-webkit-scrollbar {
  width: 10px;
}
section::-webkit-scrollbar-track{
  background: yellow;
  border: solid 1px #000;
}
section::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}
